.navbar{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background: linear-gradient(90.87deg, rgba(238, 245, 245, 0.8) 22.15%, rgba(78, 146, 225, 0.8) 69.53%);
    /* Note: backdrop-filter has minimal browser support */
    }
*{
    margin: 0%;
    padding: 0%;
}
.load{
    animation: slide 2s;
}
.slider{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 40s infinite;
}
.content{
    color: #fff;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);

}
.principal{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    letter-spacing: 5px;
    text-align: center;
}
.principal h1{
    font-size: 70px;
    margin-bottom: 20px;
}
.principal p{
    font-size: 20px;
}
@keyframes slide{
    0%{
        background-image: url("193656.png");
    }
    20%{
        background-image:url("193656.png") ;
    }
    20.01%{
        background-image: url("193712.png");
    }
    40%{
        background-image: url("193712.png");
    }
    40.01%{
        background-image: url("193739.png")
    }
    60%{
        background-image: url("193739.png");
    }
    60.01%{
        background-image: url("193656.png");
    }
    80%{
        background-image: url("193656.png");
    }
    80.01%{
        background-image: url("193712.png");
    }
    100%{
        background-image: url("193712.png") ;
    }

}
.btnbtn-info{
background-color: #1d060600;
border: black;
color: rgb(255, 255, 255);
padding: 5px 5px;
text-align: center;
text-decoration: none;
display: inline-block;
margin: 4px 2px;
border-radius: 10px;
cursor: pointer;
top: 5px;
right: 20px;
position: absolute;
}
footer{
    width: 100%;
    position:inherit;
    bottom: 0%;
    background: linear-gradient(0.87deg, rgba(68, 68, 68, 0.8) 22.15%, rgba(71, 74, 79, 0.8) 69.53%);
    padding: 10px 0px 5px;
    font-size: 13px;
    line-height: 20px;
}
.row{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25px;
    padding: 10px;
    text-align: center;
}